@using Maxima_Tech_Web.Components.Pages.Login
@inherits LoginMainPage
@rendermode InteractiveServer
<span class="brand">
    <a class="navbar-brand" href="">Desafio Maxima Tech</a>
</span>
@if (IsLogged)
{
    <div class="fixed-top-right">
        <a class="btn btn-link" @onclick="Logout">
            <i class="fas fa-sign-out-alt"></i> Deslogar
        </a>
    </div>
    <NavMenu></NavMenu>
}
else
{
<LoginPage />
}



